<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
 <head>
   <style>
     #map-canvas {
     height: 400px;
     width: 800px;
     }

     .button-color{ color:#AA8844;
     background-color:#FFCC99}
     </style>
	
    <script type="text/javascript" src="https://rawgit.com/estebanav/javascript-mobile-desktop-geolocation/master/js/geoPosition.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATf-MrlFDWnyXHfZEXgRrZny6xA3r19hk"></script>-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="static/run.js"></script>
  </head>

  <body style="background-color:#FF9966">

    <!--
    {% if loggedIn == True %}
    You are logged in as {{ name }}
    {% else %}
    You are not logged in, log in or sign up <a href="/login"> HERE </a>
    {% endif %}
    -->
    <div align="center" style="font-family: Times"><font size="5.5" color="662200"><h1>Free Food Finder</h1></font>
    <font size="5" color="662200"><h3>Free Food Near You</h3></font></div>
    <div align="center" id="map-canvas"></div>

<br>
<div align="center">
<font color="662200"><b>Add Food:</b><br></font>
<form method="POST",  class="pure-form">
      <fieldset>
	<input type="hidden" name="name" placeholder="Name of food">
	<input type="text" name="type" placeholder="Type of food">
	<input type="hidden" name="people" placeholder="Estimated number of people">
	<input type="hidden" name="time" placeholder="Time">
      <input type="hidden" id="hiddenField" name="coordinates">

      <input type="submit" name="b" value="Submit" class="button-color pure-button" formaction= "/" color="662200">
	</fieldset>
</form>

<!--
<form method="POST",  class="pure-form">
    <input type="submit" name="b" value="Log Out" class="pure-button pure-button-primary" formaction= "/login">
</form>-->


   </body>
</html>
